<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8"/>
    <title>Donation</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet"
          type="text/css"
    />
    <link th:href="@{/css/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link th:href="@{/css/components.min.css}" rel="stylesheet" id="style_components" type="text/css"/>
    <link th:href="@{/css/plugins.min.css}" rel="stylesheet" type="text/css"/>
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link th:href="@{/css/layout.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/themes/default.min.css}" rel="stylesheet" type="text/css" id="style_color"/>
    <link th:href="@{/css/custom.min.css}" rel="stylesheet" type="text/css"/>
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid">
<div class="page-wrapper">
    <div class="page-wrapper-row">
        <div class="page-wrapper-top">
            <!-- BEGIN HEADER -->
            <div class="page-header">
                <!-- BEGIN HEADER TOP -->
                <div class="page-header-top">
                    <div class="container">
                        <div class="page-head">
                            <div class="page-title">
                                <h3>Vote App</h3>
                            </div>
                            <!--                                <a href="">-->
                            <!--                                    <img src="../assets/global/img/logovote.png" alt="logo" class="logo-default">-->

                            <!--                                </a>-->
                        </div>
                        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                        <a href="javascript:;" class="menu-toggler"></a>
                        <!-- END RESPONSIVE MENU TOGGLER -->
                        <!-- BEGIN TOP NAVIGATION MENU -->
                        <div class="top-menu">
                            <ul class="nav navbar-nav pull-right">
                                <!-- BEGIN NOTIFICATION DROPDOWN -->

                                <!-- END NOTIFICATION DROPDOWN -->
                                <!-- BEGIN TODO DROPDOWN -->

                                <!-- END TODO DROPDOWN -->

                                <!-- BEGIN INBOX DROPDOWN -->

                                <!-- END INBOX DROPDOWN -->
                                <!-- BEGIN USER LOGIN DROPDOWN -->
                                <li class="dropdown dropdown-user dropdown-dark">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"
                                       data-hover="dropdown" data-close-others="true">
                                        <img alt="" class="img-circle"
                                             src="/images/user-male-circle-blue-512.png"/>
                                        <span class="username username-hide-mobile"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-default">
                                        <li>
                                            <a href="javascript:{}">
                                                Options </a>
                                        </li>

                                        <li>
                                            <a th:href="@{/logout}">
                                                <i class="icon-key"></i> Close session </a>

                                        </li>
                                    </ul>
                                </li>
                                <!-- END USER LOGIN DROPDOWN -->
                                <!-- BEGIN QUICK SIDEBAR TOGGLER -->

                                <!-- END QUICK SIDEBAR TOGGLER -->
                            </ul>
                        </div>
                        <!-- END TOP NAVIGATION MENU -->
                    </div>
                </div>
                <!-- END HEADER TOP -->
                <!-- BEGIN HEADER MENU -->
                <div class="page-header-menu">
                    <div class="container">
                      <div class="hor-menu">
                          <ul class="nav navbar-nav">
                              <li class="menu-dropdown classic-menu-dropdown ">
                                  <a th:href="@{/donation/Main}" class="nav-link  "> Welcome
                                      <span class="arrow"></span>
                                  </a>
                              </li>
                              <li class="menu-dropdown classic-menu-dropdown">
                                  <a href="javascript:;"> Actions
                                      <span class="arrow"></span>
                                  </a>
                                  <ul class="dropdown-menu pull-left">
                                      <li class=" ">
                                          <a th:href="@{/donation/newDonation}" class="nav-link  ">Donate </a>
                                      </li>
                                  </ul>
                              </li>
                          </ul>
                      </div>
                    </div>
                </div>
                <!-- END HEADER MENU -->
            </div>
            <!-- END HEADER -->
        </div>
    </div>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">
                                <h1>Submit your donation </h1>
                            </div>
                            <!-- END PAGE TITLE -->
                            <!-- BEGIN PAGE TOOLBAR -->

                            <!-- END PAGE TOOLBAR -->
                        </div>
                    </div>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN VALIDATION STATES th:action="@{/saveUser}" th:object="${userRegisterDto}"-->
                                    <div class="portlet light portlet-fit portlet-form ">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-settings font-red"></i>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <!--                                             BEGIN FORM-->
                                            <form th:action="@{/donation/saveDonation}" th:object="${donationFormDto}"
                                                  action="#"
                                                  id="form_donation" class="form-horizontal" method="post">
                                                <div class="form-body">

                                                    <div th:if="${success} == false" class="alert alert-danger">
                                                        <button class="close" data-close="alert"></button>
                                                        Error ocurred.
                                                    </div>

                                                    <div th:if="${success} == true" class="alert alert-success">
                                                        <button class="close" data-close="alert"></button>
                                                        Donation registered.
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Country
                                                            <span class="required"> * </span>
                                                        </label>
                                                        <div class="col-md-4">
                                                            <select class="form-control" name="select"
                                                                    id="countrySelect">
                                                                <option value="">Select...</option>
                                                                <option th:each="country : ${countries}"
                                                                        th:value="${country.getCountryId()}"
                                                                        th:text="${country.getCountryName()}"></option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Institution
                                                            <span class="required"> * </span>
                                                        </label>
                                                        <div class="col-md-4">
                                                            <select th:field="*{institutionId}" class="form-control"
                                                                    name="select"
                                                                    id="institutionSelect">
                                                                <option value="">Select...</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Card Number</label>
                                                        <div class="col-md-4">
                                                            <input class="form-control" id="card_number"
                                                                   type="text"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Name on card</label>
                                                        <div class="col-md-4">
                                                            <input class="form-control" id="name_card"
                                                                   type="text"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Expiry date</label>
                                                        <div class="col-md-4">
                                                            <input class="form-control" id="exp_date"
                                                                   type="text"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Security code</label>
                                                        <div class="col-md-4">
                                                            <input class="form-control" id="sec_code"
                                                                   type="password"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Donation</label>
                                                        <div class="col-md-4">
                                                            <input th:field="*{amount}" class="form-control"
                                                                   id="mask_currency"
                                                                   type="text"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <button type="submit" class="btn green">Submit</button>
                                                            <button type="button"
                                                                    class="btn grey-salsa btn-outline">Cancel
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- END FORM-->
                                        </div>
                                    </div>
                                    <!-- END VALIDATION STATES-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE CONTENT BODY -->
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
                <!-- BEGIN QUICK SIDEBAR -->

                <!-- END QUICK SIDEBAR -->
            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
    <div class="page-wrapper-row">
        <div class="page-wrapper-bottom">
            <!-- BEGIN FOOTER -->
            <!-- BEGIN PRE-FOOTER -->

            <!-- END PRE-FOOTER -->
            <!-- BEGIN INNER FOOTER -->
            <div class="page-footer">

            </div>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
        <!-- END INNER FOOTER -->
        <!-- END FOOTER -->
    </div>
</div>
<!-- BEGIN CORE PLUGINS -->
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/js.cookie.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery-slimscroll/jquery.slimscroll.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.blockui.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap-switch/js/bootstrap-switch.min.js}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script th:src="@{/js/jquery-validation/js/jquery.validate.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery-validation/js/additional-methods.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery-inputmask/jquery.inputmask.bundle.min.js}" type="text/javascript"></script>

<script type="application/javascript">

    $('document').ready(function () {

        $('#countrySelect').change(
            function () {
                $.getJSON("/institution/getAllByCountry", {
                    countryId: $(this).val(),
                    ajax: 'true'
                }, function (data) {
                    var html = '<option value="">Select...</option>';
                    var len = data.length;
                    for (var i = 0; i < len; i++) {
                        html += '<option value="' + data[i].institutionId + '">'
                            + data[i].institutionName + '</option>';
                    }
                    html += '</option>';
                    $('#institutionSelect').html(html);
                });
            });

        $("#mask_currency").inputmask('currency', {
            rightAlign: true
        });



    });
</script>


</body>

</html>