<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8"/>
    <title>Welcome</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/css/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet"
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <!--        <link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />-->
    <!--        <link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />-->
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link  th:href="@{/css/components.min.css}" rel="stylesheet" id="style_components" type="text/css"/>
    <link th:href="@{/css/plugins.min.css}" rel="stylesheet" type="text/css"/>
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link th:href="@{/css/coming-soon.min.css}" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->

<body class="">
<div class="container">
<!--    <div class="row">-->
<!--        <div class="col-md-12 coming-soon-header">-->
<!--            <a class="brand" href="index.html">-->
<!--                <img src="../assets/pages/img/logo-big.png" alt="logo" /> </a>-->
<!--        </div>-->
<!--    </div>-->
    <div class="row">
        <div class="col-md-6 coming-soon-content">
            <h1>Welcome</h1>
            <p> We appreciate your willing to help others. </p>
            <p> Generosity is what the world needs.. </p>
            <br>

            <br>
            <form class="form-inline" action="#">
                <div class="input-group input-group-lg input-large">
                    <span class="input-group-btn">
                                <button class="btn green" type="button" id="enterButton"
                                        th:onclick="'window.location.href=\'/donation/Main\''"> Enter </button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-6 coming-soon-countdown">
            <div id="defaultCountdown">
                <h1>Visits</h1>
                <br>
                <h2>  <span th:text="${visits_count}"></span>  </h2>
            </div>
        </div>
    </div>
    <!--/end row-->
</div>

<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/js.cookie.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery-slimscroll/jquery.slimscroll.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.blockui.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap-switch/js/bootstrap-switch.min.js}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<!--<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>-->
<script th:src="@{/js/countdown/jquery.countdown.min.js}" type="text/javascript"></script>
<script th:src="@{/js/backstretch/jquery.backstretch.min.js}" type="text/javascript"></script>
<script th:src="@{/js/scripts/coming-soon.js}" type="text/javascript"></script>
<script th:src="@{/js/app.min.js}" type="text/javascript"></script>
</body>

</html>