<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8"/>
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/css/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet">

    <link th:href="@{/css/login.min.css}" rel="stylesheet" type="text/css"/>

    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->

<body class=" login">
<!-- BEGIN LOGO -->
<div class="logo">
    <!-- <a href="index.html">
         <img src="../assets/pages/img/logo-big.png" alt="" /> -->
    <h1 style="color: white;">Donation App</h1>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" th:action="@{/login}" method="post">
        <h3 class="form-title font-green">Login</h3>
        <div th:if="${param.error}">Invalid user or password</div>
        <div th:if="${param.error}" class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span>Invalid user or password </span>
        </div>
        <div th:if="${param.logout}" class="alert alert-danger display-hide">Session closed</div>
        <!--                <div class="alert alert-danger display-hide">-->
        <!--                    <button class="close" data-close="alert"></button>-->
        <!--                    <span>Ingrese usuario y contraseña </span>-->
        <!--                </div>-->
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off"
                   placeholder="Usuario" name="username"/></div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off"
                   placeholder="Conraseña" name="password"/></div>
        <div class="form-actions">
            <button type="submit" class="btn green btn-block uppercase">Login</button>
            <label class="rememberme check mt-checkbox mt-checkbox-outline"></label>

        </div>


        <div class="create-account">
            <p style="color: white;">
                <a th:href="@{/user/register}">Register</a>
            </p>
        </div>
    </form>
</div>

<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/js.cookie.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery-slimscroll/jquery.slimscroll.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.blockui.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap-switch/js/bootstrap-switch.min.js}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery-validation/js/jquery.validate.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery-validation/js/additional-methods.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap-datepicker/js/bootstrap-datepicker.min.js}" type="text/javascript"></script>

<script th:src="@{/js/scripts/login.min.js}" type="text/javascript"></script>

</body>

</html>